@mixin font ($fz: 20px) {
    font-size: $fz;
    text-transform: uppercase;
    line-height: 1.5;
} 

$background: #3333;

.header {
    @include font (15px);
    color: $background

}


.section-header{
    @include font ();
    background-color: $background;
}


.container {
@include font ()
}